


.clockLook {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-align: left;
  padding-bottom: 20px;
}
.date{
  color: #ffffff;
  font-size: 30px;
  text-align: left;
  padding-bottom: 10px;
  }
